<mat-toolbar color="primary">
  <h2>Persons</h2>
  <button mat-icon-button>
    <mat-icon [routerLink]="['/debts/persons/edit', 'new']">add-box</mat-icon>
  </button>
</mat-toolbar>

<mat-nav-list>
  <mat-list-item *ngFor="let person of persons$ | async">
    <a matLine [routerLink]="['/debts/persons/detail', person.id]">
      {{ person.name }}
    </a>
    <button [routerLink]="['/debts/persons/edit', person.id]" mat-icon-button
            matTooltip="edit debt">
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="deletePerson(person)" mat-icon-button
            matTooltip="delete debt">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>
