<mat-sidenav-container>

  <mat-sidenav #sidenav class="mat-elevation-z10"
               [opened]="!isScreenSmall"
               [mode]="isScreenSmall ? 'over' : 'side'">

    <mat-toolbar color="primary" class="pointer" [routerLink]="['/dashboard']">
      <h3>Financial Planer</h3>
    </mat-toolbar>

    <app-sidebar-navigation></app-sidebar-navigation>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button class="sidenav-toggle" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <app-main-header></app-main-header>
    </mat-toolbar>

    <section class="wrapper">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>

</mat-sidenav-container>
